* {
  box-sizing: border-box;
}

:root {
  --blue-color: #0d2545;
  --gold-color: #ffc300;
  --gold-color-2: #ffd966;
}

body,
.container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-color);
}

.header {
  font-size: 3rem;
  color: var(--gold-color);
  text-align: center;
}

.subHeader {
  font-size: 2rem;
  color: var(--gold-color-2);
  text-align: center;
  margin-bottom: 100px;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

label {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: whitesmoke;
  font-style: italic;
}

input {
  font-size: 1.3rem;
  height: 50px;
  width: 400px;
  border-radius: 8px;
  padding: 10px 20px;
  font-family: cursive;
  border: 2px solid var(--gold-color);
}

input::placeholder {
  color: #c0c0c0;
  font-style: italic;
}

input:focus {
  outline-color: var(--gold-color);
}

button {
  padding: 10px 20px;
  background-color: var(--gold-color);
  color: white;
  text-shadow: 1px 1px #0c0c0c;
  font-size: 1rem;
  margin-top: 20px;
}

ul {
  list-style-type: lower-alpha;
  color: whitesmoke;
  font-size: 1.1rem;
  letter-spacing: 3px;
  line-height: 30px;
  margin-top: 80px;
}

li {
  margin-bottom: 15px;
}

p {
  color: whitesmoke;
  font-size: 1.1rem;
  letter-spacing: 3px;
  line-height: 30px;
}

highlighted {
  background-color: var(--gold-color);
  color: whitesmoke;
}
